<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Панган.Клуб{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-title landing-block-limited">
            <img src="{% static "images/logo/logo.svg" %}" alt="Logo image">
            <div class="landing-title">
                <h1>Панган.Клуб</h1>
                <p>Всё самое интересное происходит за закрытыми дверями</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block landing-block-limited" id="why">
            <div>
                <h2>ЗАЧЕМ НУЖЕН ЕЩЕ ОДИН САЙТ?</h2>

                <p>
                    Окей, у нас есть отличный информационный сайт phangan.ru.
                    Он избавляет сообщество от одинаковых из года в год вопросов от новичков про то,
                    как добраться до острова, как продлить визы и где купить борщ.
                </p>

                <p>
                    Помимо этого есть тематические и общие чаты в телеграме.
                    Проблема с чатами в том, что их очень много,
                    и каждый пользователь вынужден дублировать свое сообщение в несколько чатов.
                    За день набирается более 100 сообщений, и качественно просмотреть даже один чат под силу только настоящим йогам. 
                </p>
            </div>
        </div>

        <div class="landing-block landing-block-limited" id="features">
           <div>
              <h2>В ЧЕМ ЦЕННОСТЬ КЛУБА?</h2>

              <ul>
                  <li>Сообщество адекватных людей и единомышленников</li>
                  <li>Пространство для идей и обмена инсайтами</li>
                  <li>Создание позитивной кармы и пользы для острова</li>
              </ul>
            </div>
        </div>

        <div class="landing-block landing-block-limited" id="current">
            <div>
              <h2>ОК, И ЧТО ТЕПЕРЬ?</h2>

              <p>
                  Мы все еще находимся в процессе доработки проекта,
                  наполняем страницы статьями, наводим красоту, развешиваем гирлянды.
                  Сначала мы пригласили наших друзей, чтобы вдохнуть жизнь в проект.
                  Участники клуба могут приглашать своих друзей, у каждого человека есть по пять инвайтов.
                  Постепенно мы сделаем доступ открытым для всех, кто будет готов ежемесячно оплачивать
                  членство в эквиваленте ONE🥥COCONUT.
              </p>
            </div>
        </div>

        <!-- <div class="landing-block landing-block-limited">
            <div class="landing-block-40">
                <h3 class="feature-title">Чужой опыт и инсайды</h3>

                <ul class="feature-list">
                    <li>В Клубе пишут статьи, просят советов, делятся идеями и показывают пет-проджекты</li>
                    <li>Формат «только для своих» позволяет обсуждать темы без посторонних</li>
                    <li>Комментарии больше не зашквар</li>
                    <li>Никаких алгоритмических лент, охоты за вниманием и FOMO</li>
                </ul>
            </div>
            <div class="landing-block-60 landing-posts">
                <div class="landing-post">
                    <div class="avatar landing-post-avatar"><img src="https://i.vas3k.club/na.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">
                        Невероятно полезные, но неизвестные миру тулзы
                        <span class="label" style="background-color: rgb(254, 74, 73);">
                            <span class="label-title">🤙 Рекомендовано</span>
                        </span>
                    </div>
                    <div class="landing-post-footer">312 комментариев <strong>+21 новый</strong></div>
                    <div class="landing-post-upvotes">365</div>
                    <a href="https://vas3k.club/post/1657/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 6%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.vas3k.club/fa.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">🚄 Переезд в Японию 🎌</div>
                    <div class="landing-post-footer">49 комментариев</div>
                    <div class="landing-post-upvotes">183</div>
                    <a href="https://vas3k.club/post/4787/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 2%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.vas3k.ru/lr0.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">Вопрос: Самый полезный навык, которому можно научиться за вечер?</div>
                    <div class="landing-post-footer">123 комментария <strong>+15 новых</strong></div>
                    <div class="landing-post-upvotes">256</div>
                    <a href="https://vas3k.club/question/5/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 8%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.vas3k.club/22x.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">Книги, которые разделили мою жизнь на до и после</div>
                    <div class="landing-post-footer">
                        <span class="topic topic-type-inline" style="background-color: rgb(243, 156, 18);">
                            <span class="topic-gradient"></span>
                            <span class="topic-icon-wrapper">
                                <span class="topic-icon"><img src="https://i.vas3k.ru/lra.jpg" alt="Иконка комнаты" /></span>
                            </span>
                            <span class="topic-name-wrapper">
                                <span class="topic-name">Книжный Клуб</span>
                            </span>
                        </span>&nbsp;&nbsp;

                        164 комментария <strong>+3 новых</strong>
                    </div>
                    <div class="landing-post-upvotes">227</div>
                    <a href="https://vas3k.club/post/2389/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>

                <div class="landing-post" style="left: 1%;">
                    <div class="avatar landing-post-avatar"><img src="https://i.vas3k.club/n4.jpg" alt="Аватар" /></div>
                    <div class="landing-post-title">🔒 Делимся классными местами на Airbnb, Booking, etc</div>
                    <div class="landing-post-footer">
                        <span class="topic topic-type-inline" style="background-color: rgb(144, 12, 63);">
                            <span class="topic-gradient"></span>
                            <span class="topic-icon-wrapper">
                                <span class="topic-icon"><img src="https://i.vas3k.club/18.png" alt="Иконка комнаты" /></span>
                            </span>
                            <span class="topic-name-wrapper">
                                <span class="topic-name">Тревел</span>
                            </span>
                        </span>&nbsp;&nbsp;

                        29 комментариев
                    </div>
                    <div class="landing-post-upvotes">87</div>
                    <a href="https://vas3k.club/post/5774/" target="_blank" class="landing-post-link">&nbsp;</a>
                </div>
            </div>
        </div> -->

        <!-- <div class="landing-block landing-screenshots hide-on-iphone">
            <a href="https://vas3k.club/post/1289/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00003.png" %}" alt="post">
            </a>

            <a href="https://vas3k.club/post/3467/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00004.png" %}" alt="post">
            </a>

            <a href="https://vas3k.club/post/2970/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00005.png" %}" alt="post">
            </a>

            <a href="https://vas3k.club/post/1494/" target="_blank" class="landing-screenshot">
                <img src="{% static "images/landing/posts/p00009.png" %}" alt="post">
            </a>
        </div> -->

        <div class="landing-block landing-block-limited">
            <!-- <div class="landing-block-50">
                <img src="{% static "images/landing/rooms.png" %}" class="feature-image" alt="chats" style="padding-top: 40px;">
            </div> -->

            <h3 class="feature-title">Тусовки по интересам</h3>

            <ul class="feature-list">
                <li>Глубокие обсуждения на актуальные темы</li>
                <li>Устоявшееся мудрейшее коммьюнити</li>
                <li>Обнимашки и лучики добра</li>
                <li>Здесь всем откликается ))</li>
            </ul>
        </div>

        <!-- <div class="landing-block landing-block-chats">
            <img src="{% static "images/landing/chats1.png" %}" class="feature-image" alt="chats">
            <img src="{% static "images/landing/chats2.png" %}" class="feature-image" alt="chats">
            <img src="{% static "images/landing/chats3.png" %}" class="feature-image" alt="chats">
            <img src="{% static "images/landing/chats4.png" %}" class="feature-image" alt="chats">
        </div> -->

        <div class="landing-block landing-block-limited">
            <h3 class="feature-title">Движухи и общение</h3>

            <ul class="feature-list">
                <li>Закрытые мероприятия и лекции для участников</li>
                <li>Взаимопомощь между участниками</li>
                <li>У нас запрещена анонимность и действует жесткая модерация. Так мы не допускаем негативную энергию в Клуб</li>
                <li>Подробнее о правилах можно почитать в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a></li>
            </ul>
        </div>

            <!-- <div class="landing-block-60">
                <img src="{% static "images/landing/activities.png" %}" class="feature-image" alt="chats">
            </div>
        </div> -->

        <!-- <div class="landing-block landing-block-limited landing-block-map-title" id="map">
            <h3 class="feature-title">Недушное коммьюнити</h3>
        </div>

        <div class="landing-block landing-block-map">
            <div class="map-background" style="background-image: url('{% static "images/landing/map.jpg" %}');">
            </div>

            <div class="map-container">
                <div class="map-sidebar hide-on-iphone">
                    <div class="map-sidebar-item">📍 В моем городе</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🎉 Открыты к общению</div>
                    <div class="map-sidebar-item">🤟 Ищут друзей</div>
                    <div class="map-sidebar-item">🤪️ Любят движуху</div>
                    <div class="map-sidebar-header">Путешествия</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🍻 Можем выпить по пиву</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🏢 Могу показать офис</div>
                    <div class="map-sidebar-item">🗼 Могу показать город</div>
                    <div class="map-sidebar-item">🛌 Могу вписать на ночь</div>
                    <div class="map-sidebar-header">Профессиональное</div>
                    <div class="map-sidebar-item">💼 Могу зареферить в компанию</div>
                    <div class="map-sidebar-item">🔍 Ищу сотрудников</div>
                    <div class="map-sidebar-item">🔎 Ищу работу</div>
                    <div class="map-sidebar-item">🛋 Хочу удалёнку</div>
                    <div class="map-sidebar-item">🚜 Хочу релокацию</div>
                    <div class="map-sidebar-item">📱 FAANG</div>
                </div>

                <div class="map-counters">
                    <div class="map-counter">{{ stats.users }} {{ stats.users | rupluralize:"человек,человека,человек" }}</div>
                    <div class="map-counter">{{ stats.countries }} {{ stats.countries | rupluralize:"страна,страны,стран"  }}</div>
                    <div class="map-counter">25+ чатов</div>
                </div>
            </div>
        </div> -->

        <div class="landing-block landing-block-limited" id="join">
            <div>
                <h2>Как вступить?</h2>

                <!-- <img src="{% static "images/landing/dolor.png" %}" alt="$1" class="landing-dolor"> -->

                <p>
                    На данном этапе вступление в клуб пока только по инвайтам.
                    Поспрашивайте своих друзей, найдите нужные слова или правильно подмигните,
                    и вероятно, у кого-то из них найдется для вас инвайт.
                </p>

                <p>
                    В дальнейшем членство будет платным и равняться ONE🥥COCONUT в месяц.
                    Это позволит нам сохранить чистоту Клуба и его сообщества.
                </p>

                <p>
                    Мы создаем доверительное сообщество и поэтому не пускаем анонимов.
                    Пожалуйста, заполните профиль и расскажите о себе. 
                </p>

                <!-- <p>
                    <a href="{% url "join" %}" class="button button-big">Вступить в Клуб</a>
                </p> -->
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://oxor.io" target="_blank">Петр Сергеевич</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="https://t.me/skywinder">Связаться с нами</a><br><br>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
