<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Phangan Club ✖️‍{% endblock %}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <div class="landing">
        <div class="landing-block landing-block-title">
            <img src="{% static "images/logo/logo_pc-1024_1.png" %}" alt="">
            <div class="landing-title">
                <!--<h1>Phangan
                    <br />Club</h1>
                    <p style="text-align: center;">
                    Все самое интересное
                    происходит за закрытыми
                    дверями</p> -->
                <a href="{% url "patreon_login" %}" class="button button-black" target="_blank">Войти</a>
            </div>
        </div>

        <div class="landing-block" id="why">
            <div>
                <h2>ЧТО ТАКОЕ PHANGAN CLUB</h2>

                <p style="text-align: justify;">
                    В последнее время стало слишком много чатиков в Телеграме и групп на Фейсбуке,
                    где одна и та же информация клонируется по нескольку раз. Есть сайт MyPhangan, где собрана вся
                    необходимая информация. Но не хватает дружеского комьюнити, где люди могли бы свободно
                    обмениваться информацией, идеей и мнениями.
                </p>

                <p style="text-align: justify;">
                    Phangan Club — это закрытое сообщество, для круга проверенных и надежных людей,
                    где мы делимся полезной и интересной информацией о жизни на Пангане, о секретных местах,
                    о закрытых тусовках и мероприятиях.
                </p>

                <p style="text-align: justify;">
                    Самое важное для клуба – сохранить дружеское комьюнити и живое общение, без чатиковых троллей
                    и со взаимным уважением.
                    Про клуб можно почитать в разделе
                    <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a>.
                </p>

            </div>
        </div>

        <div class="landing-block" id="join">
            <div>
                <h2>КАК ВСТУПИТЬ</h2>

                <p style="text-align: justify;">
                    Клубные карты выдаются за донейшн на <a href="https://patreon.com/vas3k">патреоне</a>.
                </p>

                <p style="text-align: justify;">
                    Размер донейшена зависит от желания участника поддержать Phangan Club.
                    Минимальный донат $1 и до бесконечности.
                    Отменить подписку можно в любой момент. Тогда клубная карта аннулируется.
                </p>

                <p style="text-align: justify;">
                    В Phangan Club действует жёсткая модерация и запрещена анонимность.
                </p>

                <p style="text-align: justify;">
                    Так мы сохраняем здоровое сообщество.
                </p>

                <p style="text-align: justify;">
                    Вступить в клуб можно так же по бартеру, если вы согласны сделать что-то полезное для
                    проекта.
                </p>

                <br>

                <p>
                    <a href="https://patreon.com/vas3k" class="button button-black" target="_blank">Перейти на патреон</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://oxor.io" target="_blank">Василина</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </div>
{% endblock %}

    {% include "common/js.html" %}
    {% block js %}{% endblock %}
</body>
</html>
