<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Phangan Club ✖️‍{% endblock %}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <div class="landing">
        <div class="landing-block landing-block-title">
            <img src="{% static "images/logo/logo-1024.png" %}" alt="">
            <div class="landing-title">
                <h1>Phangan Club</h1>
                <p>Самые интересные секретики для избранных</p>
                <a href="{% url "patreon_login" %}" class="button button-black" target="_blank">Войти</a>
            </div>
        </div>

        <div class="landing-block" id="why">
            <div>
                <h2>Что такое Phangan Club?</h2>

                <p>
                    В последнее время стало слишком много чатиков в Телеграме и групп на Фейсбуке,
                    где одна и та же информация клонируется по нескольку раз.
                </p>

                <p>
                    Phangan Club — это наше закрытое сообщество, для круга проверенных и надежных людей,
                    где мы делимся полезной и интересной информацией о жизни на Пангане.
                </p>

                <p>
                    Клуб с интересной и уникальной информацией без троллей и с уважением друг к другу.
                    Про клуб можно почитать в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a>.
                </p>

                <p>
                    Участники Phangan Club получают доступ ко всем закрытым движухам, обсуждают новые проекты
                    и делятся полезной информацией.
                </p>
            </div>
        </div>

        <div class="landing-block" id="join">
            <div>
                <h2>КАК ВСТУПИТЬ?</h2>

                <p>
                    Клубные карты выдаются за донейшн на <a href="https://patreon.com/vas3k">патреоне</a>.
                </p>

                <p>
                    Размер донейшена зависит от желания участника поддержать Phangan Club.
                    Минимальный донат $1 и до бесконечности.
                    Отменить подписку можно в любой момент. Тогда клубная карта аннулируется.
                </p>

                <p>
                    ОЧень важно: в Phangan Club действует жёсткая модерация и запрещена анонимность.
                </p>

                <p>
                    Так мы сохраняем здоровое сообщество.
                </p>

                <br>

                <p>
                    <a href="https://patreon.com/vas3k" class="button button-black" target="_blank">Перейти на патреон</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://oxor.io" target="_blank">Василина</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </div>
{% endblock %}

    {% include "common/js.html" %}
    {% block js %}{% endblock %}
</body>
</html>
