30 2 * * *  /home/phangan/backup.sh >> /home/phangan/backup.log 2>&1
0 1 * * * cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py delete_users >>/home/phangan/crons.log 2>&1
0 3 * * * cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py renew_subscriptions >>/home/phangan/crons.log 2>&1
0 9 * * 2-6 cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py send_daily_digest --production true >>/home/phangan/crons.log 2>&1
0 11 * * 1 cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py send_weekly_digest --production true >>/home/phangan/crons.log 2>&1
0 5 * * 7 cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py rebuild_search_index >>/home/phangan/crons.log 2>&1
0 8 * * * cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py replay_stuck_reviews >>/home/phangan/crons.log 2>&1
13 */3 * * * cd /home/phangan/phangan.me && /usr/local/bin/pipenv run python manage.py update_hotness >>/home/phangan/crons.log 2>&1
