{% extends "layout.html" %}
{% load static %}

{% block title %}
    Бот — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">Телеграм-бот 🤖</div>

        <div class="block">
            <div class="block-description">
                <p>
                    <strong>Бот — важное дополнение к Клубу.</strong>
                    Он оповещает о новых комментариях, через него можно отвечать на них и даже писать посты, форвардя ему сообщения.
                </p>

                <p>
                    На него завязано много полезного функционала и мы очень рекомендуем его подключить.
                </p>

                {% if user.telegram_id %}
                <p id="telegram-auth-data" style="font-weight: bold;">
                       Сейчас привязан аккаунт: {{ user.telegram_data.username }} ✅
                </p>
                {% else %}
                <p>
                    <a href="{{ settings.TELEGRAM_BOT_URL }}?start={{ auth_code }}" rel="noreferrer" target="_blank" class="button">
                        Подключить бота
                    </a>
                </p>
                {% endif %}

                {% comment %}
                <p>
                    <script src="https://telegram.org/js/telegram-widget.js?8" data-telegram-login="phangan_club_bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
                    <script type="text/javascript">
                        function onTelegramAuth(user) {
                            fetch('{% url "link_telegram" %}?is_ajax=true', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json, text/plain, */*',
                                    'Content-Type': 'application/json'
                                },
                                credentials: "include",
                                body: JSON.stringify(user)
                            })
                            .then((response) => {
                                return response.json();
                            })
                            .then((data) => {
                              if (data.status === "success") {
                                  document.getElementById("telegram-auth-data").innerHTML = "😎 Вы авторизованы как: " + data.telegram.username;
                                  document.getElementById("telegram-auth-button").style.display = "none";
                              } else {
                                  document.getElementById("telegram-auth-data").innerHTML = "Что-то пошло не так. Попробуйте снова.";
                              }
                              document.getElementById("telegram-auth-data").style.display = "block";
                            });
                        }
                    </script>
                </p>
                {% endcomment %}
                <p>
                    ☝️ Если вы хотите подключить бота вручную:
                    Запустите нашего <a href="{{ settings.TELEGRAM_BOT_URL }}" rel="noreferrer" target="_blank">бота</a>, после чего напишите ему эту команду с секретный кодом:
                </p>
                <div class="clearfix20"></div>
                <bot-auth-code code="/auth {{ auth_code }}"></bot-auth-code>

            </div>
        </div>
    </div>
{% endblock %}
