{% extends "layout.html" %}
{% load static %}

{% block title %}
    Инвайты — {{ block.super }}
{% endblock %}


{% block content %}
    <div class="content user-edit">
        <div class="form-title">📬<br>Ваши инвайты</div>

        <br>

        {% if active_invites %}
            <div class="block-description block-description-center">
                Активные ({{ active_invites | length }})
            </div>

            <ol class="copy-invite">
            {% for invite in active_invites %}
              <user-invite url="{{ invite.get_absolute_url }}" days="{{ invite.membership_days }}">
              </user-invite>
            {% endfor %}
            </ol>
            <br>
            <br>
        {% endif %}

        {% if used_invites %}
            <div class="block-description block-description-center">
                Использованные ({{ used_invites | length }})
            </div>

            <ol class="copy-invite">
            {% for invite in used_invites %}
                <li>                    
                    <strong>{{ invite.used_by.full_name }}</strong>
                    ({{ invite.used_by.created_at }}),
                    <i>{{ invite.id }}</i>
                </li>
            {% endfor %}
            </ol>
        {% endif %}

    </div>
{% endblock %}
