.compose-form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 130%;
}

.compose-form-item-title {
  font-size: 130%;
  margin-bottom: 20px;
}

.compose-form-location input {
    width: 100%;
    text-align: left !important;
}

.compose-form-datetime > * {
    margin-bottom: 10px;
}

.compose-form-datetime {
  margin-bottom: -10px;
}

.compose-form-datetime > span {
    margin: 0 25px 10px;
}

.compose-form-datetime-day,
.compose-form-datetime-time {
    margin-right: 15px;
}

.compose-form-location {
  margin-bottom: 30px;
}